body {
    width: 80%;
    height: 60%;
    padding: 10em;
    background-color: azure;
    text-align: center;
}

#animation_div {
    display: inline-block;
    width: 15em;
    height: 2em;
    max-width: 15em;
    max-height: 2em;
    border: 1pt solid aquamarine;
    margin: auto;
    padding: 2em;
    text-align: center;
    background: white;
}

#controls {
    align-content: center;
    float:right;
}


th {
    text-decoration: underline;
    text-decoration-color:aquamarine;
}

p {
    max-height: inherit;
    max-width: inherit;
}


.red {
    color: red;
}

.blue {
    color: blue;
}

.f36 {
    font-size: 36pt;
    width: 15em;
    height: 2em;
    max-width: 15em;
    max-height: 2em;
}

.f48 {
    font-size: 48pt;
    width: 15em;
    height: 2em;
    max-width: 15em;
    max-height: 2em;
}

.f60 {
    font-size: 60pt;
    width: 15em;
    height: 2em;
    max-width: 15em;
    max-height: 2em;
}

inputArea {
    resize: both;