body {
    width: 80%;
    height: 60%;
    padding: 10em;
    background-color: azure;
    text-align: center;
}

#animation_div {
    resize: both;
    display: block;
    min-width: 15em;
    min-height: 2em;
    width: 20em;
    height: 3em;
    border: 1pt solid aquamarine;
    margin: auto;
    padding: auto;
    text-align: center;
    background: white;
    overflow: scroll;
    
}

#controls {
    align-content: center;
}

table {
    margin-left: 30%;
}

th {
    text-decoration: underline;
    text-decoration-color:aquamarine;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.f36 {
    font-size: 36pt;
}

.f48 {
    font-size: 48pt;
}

.f60 {
    font-size: 60pt;
}

inputArea {
    resize: both;

}

#JSDebugging {
    display:none;
}


